<!-- 
     ======================================
     =============Footer ==================
     ======================================
     FeedBack-->

<footer class="footer">
    <div class="container">
        <a href="/" class="logo_img"><img class="footer__logo" src="../images/logo-mobile1x-min.png"
                alt="footer logo"></a>



        <div class="footer__contact">
            
            <a href="tel:+380991234567" class="tel_number">
                <img src="../images/Group.png" alt="phone" class="phone">
                +38 (099) 123 45 67</a>

        </div>

        <img src="../images/instagram.png" alt="instagram" class="instagram_img">
        <small class="footer__copyright">
            © All rights reserved, 2022

        </small>
    </div>
</footer>