<header class="header">
    <div class="container">
      <a href="#" class="header__logo">
        <img src="" alt="logo hellend" class="header__logo-image">
      </a>
  
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="#">Studying program</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Training options</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contacts</a>
          </li>
        </ul>
  
        <div class="header__contact">
          <a href="#" class="header__contact-link">Consultation by phone</a>
        </div>
      </nav>
    </div>
  </header>