<header class="header-link">
  <div class="container-header">
    <input type="checkbox" id="toggle">
    <label for="toggle"><span></span></label>

    <div class="header__image-wrapper">
      <picture class="div__img--logo">
        <!-- Десктоп черное лого -->
        <source srcset="./images/logo-desktop1x.png 1x, ./images/logo-desktop2x.png 2x" media="(min-width: 1200px)">
        <!-- Планшет черное лого -->
        <source srcset="./images/logo-tablet1x.png 1x, ./images/logo-tablet2x.png 2x" media="(min-width: 768px)">
        <!-- Мобильное черное лого -->
        <source srcset="./images/logo-mobile1x.png 1x, ./images/logo-mobile2x.png 2x" media="(max-width: 767px)">
        <img src="./images/logo-desktop1x.png" alt="logo" class="logo logo--default">
      </picture>

      <!-- Белое лого поверх шторки -->
      <picture class="div__img--logo logo--white">
        <!-- Планшет белое -->
        <source srcset="./images/logo-white-tablet2x.png 1x, ./images/logo-white-tablet2x.png 2x" media="(min-width: 768px)">
        <!-- Мобильное белое -->
        <source srcset="./images/logo-white-mobile1x.png 1x, ./images/logo-white-mobile1x.png 2x" media="(max-width: 767px)">
        <img src="./images/logo-white-mobile1x.png" alt="white logo">
      </picture>
    </div>

    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">Studying program</a></li>
        <li class="nav__item"><a class="nav__link-active" href="#">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Training options</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
        <li class="nav__item"><a href="#" class="header__contact-link">Consultation by phone</a></li>
      </ul>
    </nav>

    <a href="#" class="header__contact-link header__contact-link--tablet">Consultation by phone</a>
  </div>
</header>