<header class="header-link">
    <div class="container">
      <div class="hero__image-wrapper">
        <!-- <picture class="div__img--logp">
         
          <source 
              srcset="./images/ 1x,
              ./images/ 2x"
              media="(min-width: 1200px)">

         
          <source 
              srcset=" 1x,
               2x"
              media="(min-width: 768px)">

          
          <source 
              srcset="./images/ 1x,
              ./images/ 2x"
              media="(max-width: 767px)">

          
          <img 
              src="./"
              alt="logo">
      </picture> -->
             </div>
      <a href="#" class="header__contact-link header__contact-link--tablet">Consultation by phone</a>
      <input type="checkbox" id="toggle">
      <label for="toggle">
        <span></span>
      </label>
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Studying program</a></li>
          <li class="nav__item"><a class="nav__link-active" href="#">About</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Training options</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
          <li class="nav__item">
            <a href="#" class="header__contact-link">Consultation by phone</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<header class="header">
  <input type="checkbox" id="toggle">
  <label for="toggle">
    <span></span>
  </label>

  <div class="container">
    <div class="hero__image-wrapper">
      <picture class="div__img--teacher">
        <!-- Desktop -->
        <source 
            srcset="./images/elena-moreva-desktop@1x.jpg 1x,
                    ./images/elena-moreva-desktop@2x.jpg 2x"
            media="(min-width: 1200px)">
        <!-- Tablet -->
        <source 
            srcset="./images/elena-moreva-tablet@1x.jpg 1x,
                    ./images/elena-moreva-tablet@2x.jpg 2x"
            media="(min-width: 768px)">
        <!-- Mobile -->
        <source 
            srcset="./images/elena-moreva-mobile@1x.jpg 1x,
                    ./images/elena-moreva-mobile@2x.jpg 2x"
            media="(max-width: 767px)">
        <img src="./images/elena-moreva-desktop@1x.jpg" alt="teacher img">
      </picture>
    </div>

    <a href="#" class="header__contact-link header__contact-link--tablet">Consultation by phone</a>

    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">Studying program</a></li>
        <li class="nav__item"><a class="nav__link-active" href="#">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Training options</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
        <li class="nav__item">
          <a href="#" class="header__contact-link">Consultation by phone</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
