<!-- 
     ======================================
     =============Section 3================
     ======================================
     carts-->
     <section class="carts">
      <div class="container">
        <h2 class="carts__title">How do we do it</h2>
      
          <ul class="carts__list">
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-documents"></use>
                  </svg>
                  <h3 class="carts__overlay-text">Adapted program preparation for UPE</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    You will learn grammar and vocabulary at the same time. And you will learn how to write essays.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-phone3section"></use>
                  </svg>
                  <h3 class="carts__overlay-text">Classroom and online<br>learning</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    The teacher will help not only in<br> the classroom, but also during<br> home preparation.<br>
                    Parents can chat if they wish.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-book"></use>
                  </svg>
                  <h3 class="carts__overlay-text">The habit of reading in<br>English</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    Articles from sources that are<br> used in the development of this<br> UPE will be received by phone<br> twice a week.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-support"></use>
                  </svg>
                  <h3 class="carts__overlay-text">Psychological<br>support</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    We will teach you testing techniques, the ability to plan<br> your confidence training
                   <br> in itself.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-human3section"></use>
                  </svg>
                  <h3 class="carts__overlay-text">Training on copyright<br>manuals</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    You don't have to waste your time on a search for material and to<br> buy anything extra.
                    We have<br> compiled<br>2 manuals for you.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="../icons/symbol-defs.svg#icon-headphones"></use>
                  </svg>
                  <h3 class="carts__overlay-text">Ability to comprehend spoken English</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description">
                    “F.R.I.E.N.D.S” won't help you. You will listen regularly<br>
                    and analyze audio recordings<br>in accordance with the studied<br>vocabulary.
                  </p>
                </div>
              </div>
            </li>
          </ul>
      
        </div>
      </section>