<!-- 
     ======================================
     =============Section 4================
     ======================================
     the list-->
<section class="program">
  <div class="program__container container">
    <!-- Semesters list -->
    <h2 class="program__title">Our program</h2>
    <hr class="program__divider" />
    <div class="binder">
      <div class="semester-2nd-container">
        <svg
          class="mobile-svg3"
          width="12"
          height="1292"
          viewBox="0 0 12 1292"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M5.99997 6L5.99994 1288" stroke="white" stroke-width="3" />
          <circle
            cx="6"
            cy="6"
            r="6"
            transform="rotate(90 6 6)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="241"
            r="6"
            transform="rotate(90 6 241)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="516"
            r="6"
            transform="rotate(90 6 516)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="886"
            r="6"
            transform="rotate(90 6 886)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="1286"
            r="6"
            transform="rotate(90 6 1286)"
            fill="#FF6B09"
          />
        </svg>
        <svg
          class="tablet-svg3"
          width="12"
          height="717"
          viewBox="0 0 12 717"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M5.99997 6L5.99997 711" stroke="white" stroke-width="3" />
          <circle
            cx="6"
            cy="6"
            r="6"
            transform="rotate(90 6 6)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="146"
            r="6"
            transform="rotate(90 6 146)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="306"
            r="6"
            transform="rotate(90 6 306)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="491"
            r="6"
            transform="rotate(90 6 491)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="711"
            r="6"
            transform="rotate(90 6 711)"
            fill="#FF6B09"
          />
        </svg>
        <svg
          class="desk-svg3"
          width="12"
          height="727"
          viewBox="0 0 12 717"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M5.99997 6L5.99997 711" stroke="white" stroke-width="3" />
          <circle
            cx="6"
            cy="6"
            r="6"
            transform="rotate(90 6 6)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="146"
            r="6"
            transform="rotate(90 6 146)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="306"
            r="6"
            transform="rotate(90 6 306)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="491"
            r="6"
            transform="rotate(90 6 491)"
            fill="#FF6B09"
          />
          <circle
            cx="6"
            cy="711"
            r="6"
            transform="rotate(90 6 711)"
            fill="#FF6B09"
          />
        </svg>
      </div>
      <ul class="program__semesters">
        <!-- 1st Semester -->
        <li class="semester">
          <h3 class="semester__title">1 semester</h3>
          <ul class="semester__modules">
            <li class="semester__module">
              <h4 class="semester__subtitle">— Grammar</h4>
              <p class="semester__text">
                Nouns & Articles<br />Adjectives & Adverb
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Vocabulary</h4>
              <p class="semester__text">
                Family & Relations <br />People & Society
              </p>
            </li>
          </ul>
        </li>

        <!-- 2nd Semester -->
        <li class="semester">
          <h3 class="semester__title">2 semester</h3>
          <ul class="semester__modules">
            <li class="semester__module">
              <h4 class="semester__subtitle">— Grammar</h4>
              <p class="semester__text">
                Pronouns <br />Active Voice <br />Passive Voice
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Vocabulary</h4>
              <p class="semester__text">Home <br />School <br />Work</p>
            </li>
          </ul>
        </li>

        <!-- 3rd Semester -->
        <li class="semester">
          <h3 class="semester__title">3 semester</h3>
          <ul class="semester__modules">
            <li class="semester__module">
              <h4 class="semester__subtitle">— Grammar</h4>
              <p class="semester__text">
                Modal verbs <br />Infinitive <br />Gerund <br />Participle: 1, 2
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Vocabulary</h4>
              <p class="semester__text">
                Travel & Tourism <br />Culture & Free Time <br />Sport
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Writing</h4>
              <p class="semester__text">Informal Letter</p>
            </li>
          </ul>
        </li>

        <!-- 4th Semester -->
        <li class="semester">
          <h3 class="semester__title">4 semester</h3>
          <ul class="semester__modules">
            <li class="semester__module">
              <h4 class="semester__subtitle">— Grammar</h4>
              <p class="semester__text">
                Clauses: Conditional and Wishes <br />
                Direct / Reported speech <br />
                Preposition <br />
                Conjunction <br />
                Numeral
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Vocabulary</h4>
              <p class="semester__text">
                Healthy Living <br />Nature & Environment <br />Money
              </p>
            </li>
            <li class="semester__module">
              <h4 class="semester__subtitle">— Writing</h4>
              <p class="semester__text">Formal Letter</p>
            </li>
          </ul>
        </li>
        <!-- 5th Semester -->
        <li class="semester">
          <h3 class="semester__title">5 semester</h3>
          <ul class="semester__modules">
            <li class="semester__module">
              <h4 class="semester__subtitle">—</h4>
              <p class="semester__text">Revision<br />Tests</p>
            </li>
          </ul>
        </li>
      </ul>
      <picture class="program__image">
        <source
          srcset="
            ./images/program-img-1x.png 1x,
            ./images/program-img-2x.png 2x
          "
        />
        <img src="./images/program-img-1x.jpg" alt="program image" />
      </picture>
    </div>
    <h3 class="specialities__title">Why do people choose us</h3>
    <div class="specialities">
      <ul class="gallary--specialities">
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 01
          </h3>
          <p class="li_aleart--specialities">Training in small groups</p>
        </li>
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 02
          </h3>
          <p class="li_aleart--specialities">Rendered notes</p>
        </li>
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 03
          </h3>
          <p class="li_aleart--specialities">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 04
          </h3>
          <p class="li_aleart--specialities">The real results of the teacher</p>
        </li>
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 05
          </h3>
          <p class="li_aleart--specialities">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="gallary__li--specialities">
          <h3 class="li__tile--specialities">
            <span class="tile__span--specialities">—</span> 06
          </h3>
          <p class="li_aleart--specialities">
            Set of groups by level of knowledge
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
