<section class="hero">
        <div class="hero__background">
          <div class="hero__container container">
            
            <div class="hero__content">
              <h1 class="hero__title">Complex preparation for English UPE</h1>
              <p class="hero__subtitle">
                It won’t be easy. <br>
                But you are guaranteed to get <span class="hero__highlight">+25 points</span>
              </p>
              <button class="hero__button">I want a free lesson</button>
            </div>
      
            <div class="hero__image-wrapper">
              <img src="" alt="Student preparing for UPE" class="hero__image">
            </div>
      
          </div>
      
          <ul class="hero__feature">
            <li class="hero__feature">
              <svg class="hero__icon">
                <use href=""></use>
              </svg>
              <p class="hero__feature-text">Adapted author’s UPE program</p>
            </li>
            <li class="hero__feature">
              <svg class="hero__icon">
                <use href=""></use>
              </svg>
              <p class="hero__feature-text">Modern teaching methods</p>
            </li>
            <li class="hero__feature">
              <svg class="hero__icon">
                <use href=""></use>
              </svg>
              <p class="hero__feature-text">Financial guarantee of results</p>
            </li>
          </ul>
        </div>

      </section>