<!-- 
     ======================================
     =============Section 8================
     ======================================
     nuance -->
     <section class="registration">
  <div class="container registration-container">
    <h2 class="registration__title">
      Registration for a <span class="registration__highlight">free</span> phone
      <span class="registration__highlight">consultation</span> on the nuances of
      English UPE
    </h2>

    <p class="registration__description">
      Leave a request for participation in a <span class="registration__highlight">free lesson</span>.
      A consultant will contact you and answer your questions
    </p>

    <ul class="registration__form-list">
      <li class="registration__form-item">
        <form class="registration__form">
          <label for="name" class="registration__label"></label><br>
          <input type="text" id="name" placeholder="Name*" name="name" class="registration__input" required>
        </form>
      </li>

      <li class="registration__form-item">
        <form class="registration__form">
          <label for="phone" class="registration__label"></label><br>
          <input type="text" id="phone" placeholder="Phone*" name="phone" class="registration__input" required>
        </form>
      </li>
    </ul>

    <button type="button" class="registration__button">I want a free lesson</button>
  </div>
</section>