<!-- 
     ======================================
     =============Section 6================
     ======================================
     Guarantee-->
     <section class="section--guarantee">
      <div class="container">
        <h2 class="section__title--guarantee">We guarantee</h2>
        <ul class="section__gallery--guarantee">
            <li class="gallery__li--guarantee">
                <div class="li__holder--guarantee">
                <svg class="li__svg--guarantee">
                    <use class="svg__use--guarantee" href="../icons/symbol-defs.svg#icon-campfire">

                    </use>
                </svg> 
                <svg class="li__svg2--guarantee">
                    <use class="svg__use2--guarantee" href="../icons/symbol-defs.svg#icon-Vector-5">

                    </use>
                </svg> 
                </div> 

                <p  class="li__p--guarantee">You will pass the UPE with at least 25 points better than on the first practice test. Otherwise, we will refund your money.<span class="oran">*</span></p>
            </li>
            <li class="gallery__li--guarantee">
                <div class="li__holder--guarantee">
                <svg class="li__svg--guarantee">
                    <use class="svg__use--guarantee" href="../icons/symbol-defs.svg#icon-campfire">

                    </use>
                </svg> 
                <svg class="li__svg2--guarantee">
                    <use class="svg__use2--guarantee" href="../icons/symbol-defs.svg#icon-Vector-5">

                    </use>
                </svg> 
                </div>

                <p class="li__p--guarantee">You will learn to write essays with at least 10 points out of 14. <span class="oran">While 20% of the students received 0 for essays.</span></p>
            </li>
            <li class="gallery__li--guarantee">
                <div class="li__holder--guarantee">
                <svg class="li__svg--guarantee">
                    <use class="svg__use--guarantee" href="../icons/symbol-defs.svg#icon-campfire">

                    </use>
                </svg> 
                <svg class="li__svg2--guarantee">
                    <use class="svg__use2--guarantee" href="../icons/symbol-defs.svg#icon-Vector-5">

                    </use>
                </svg> 
                </div>
                <p class="li__p--guarantee">You will study in your area. We will choose the location for the classes after the teams have been formed.</p>
            </li>
            <li class="gallery__li--guarantee no_m">
                <svg class="li__svg--guarantee">
                    <use class="svg__use--guarantee" href="../icons/symbol-defs.svg#icon-campfire">

                    </use>
                </svg> 

                <p class="li__p--guarantee">Teams will be formed based on the starting level of the students. We take into account the characteristics of each student.</p>
            </li>
        </ul>
        </div>
     </section>