<!-- 
     ======================================
     =============Section 1================
     ======================================
     hero-->

     <section class="hero section">
        <div class="hero__background">
          <div class="hero__container container">
            
            <div class="hero__content">
              <h1 class="hero__title">Complex preparation for English UPE</h1>
              <p class="hero__subtitle">
                It won’t be easy.
              </p>
                <p class="hero__highlight">But you are guaranteed to get
                <span class="hero__numbers">+25 points</span>
              </p>
              <button class="hero__button">I want a free lesson</button>
            </div>
      
            <div class="hero__image-wrapper">
              <picture class="div__img--hero">
                <!-- Desktop -->
                <source 
                    srcset="./images/group-desktop1x.png 1x,
                    ./images/group-desktop2x.png 2x"
                    media="(min-width: 1200px)">

                <!-- Tablet -->
                <source 
                    srcset="./images/group-tablet1x.png 1x,
                    ./images/group-tablet2x.png 2x"
                    media="(min-width: 768px)">

                <!-- Mobile -->
                <source 
                    srcset="./images/group-mobile1x.png 1x,
                    ./images/group-mobile2x.png 2x"
                    media="(max-width: 767px)">

                <!-- Fallback (in case <picture> isn’t supported) -->
                <img 
                    src="./images/group-desktop1x.png"
                    alt="hero-img">
            </picture>
            </div>
            
      
          </div>
      
          <div class="hero__features-wrapper">
            <ul class="hero__features">
              <li class="hero__feature">
                <svg class="hero__icon">
                  <use href="./icons/symbol-defs.svg#icon-human-svg"></use>
                </svg>
                <div>
                  <p class="hero__feature-text1">Adapted author’s<br> UPE program</p>
                </div>
              </li>
              <li class="hero__feature">
                <svg class="hero__icon">
                  <use href="./icons/symbol-defs.svg#icon-phone-svg"></use>
                </svg>
                <div>
                  <p class="hero__feature-text2">Modern teaching<br> methods</p>
                </div>
              </li>
              <li class="hero__feature">
                <svg class="hero__icon">
                  <use href="./icons/symbol-defs.svg#icon-umbrella-svg"></use>
                </svg>
                <div>
                  <p class="hero__feature-text3">Financial guarantee<br> the result</p>
                </div>
              </li>
            </ul>
          </div>          
      </section>