<section class="problems">
   
   <div class="problemsbg"></div>
    <div class="container">

        <h2 class="problems__title">
            The main problems of students in English UPE, which we
            <span class="problems__title-highlight">help</span> to solve
        </h2>

        <ul class="problems__list">
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 01</h3>
                <p class="problems__text">Grammar</p>
            </li>
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 02</h3>
                <p class="problems__text">Inability to understand<br>spoken English</p>
            </li>
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 03</h3>
                <p class="problems__text">Stingy vocabulary for<br>writing an essay</p>
            </li>
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 04</h3>
                <p class="problems__text">Preparing alone</p>
            </li>
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 05</h3>
                <p class="problems__text">Lack of a single knowledge<br>resource</p>
            </li>
            <li class="problems__item">
                <h3 class="problems__number"><span class="problems__dash">—</span> 06</h3>
                <p class="problems__text">Lack of self-organization</p>
            </li>
        </ul>
    </div>
</section>