<!-- 
     ======================================
     =============Section 3================
     ======================================
     carts-->
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

     <section class="carts">
      <div class="container">
        <h2 class="carts__title">How do we do it</h2>
      
          <ul class="carts__list">
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-documents"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section1">Adapted program preparation for UPE</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section1">
                    You will learn grammar and vocabulary at the same time. And you will learn how to write essays.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-phone3section"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section2">Classroom and online learning</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section2">
                    The teacher will help not only in the classroom, but also during home preparation.
                    Parents can chat if they wish.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-book"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section3">The habit of reading in English</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section3">
                    Articles from sources that are used in the development of this UPE will be received by phone twice a week.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-support"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section4">Psychological support</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section4">
                    We will teach you testing techniques, the ability to plan your confidence training
                    in itself.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-human3section"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section5">Training on copyright manuals</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section5">
                    You don't have to waste your timeon a search for material and to buy anything extra. We have compiled 2 manuals for you.
                  </p>
                </div>
              </div>
            </li>
      
            <li class="carts__item">
              <div class="carts__overlay-box">
                <img src="" alt="" class="carts__image">
                <div class="carts__overlay">
                  <svg class="carts__icon">
                    <use href="./icons/symbol-defs.svg#icon-headphones"></use>
                  </svg>
                  <h3 class="carts__overlay-text text-section6">Ability to comprehend spoken English</h3>
                  <div class="carts__vector"></div>
                  <p class="carts__description section6">
                    “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.
                  </p>
                </div>
              </div>
            </li>
          </ul>
      
        </div>
      </section>