<!-- 
     ======================================
     =============Section 5================
     ======================================
     Teacher-->
     <section class="section--teacher">
        <h2 class="section__title--teacher">Teacher</h2>
        <div class="section__div--teacher">
            <img src="" class="div__img--teacher" alt="women img">
        </div>
        <div class="section__div--teacher">
            <h3 class="div__title--teacher">Elena Moreva</h3>
            <hr class="div__hr--teacher">
            <ul class="div__ul--teacher">
                <li class="ul__li--teacher"><svg>
                    <use></use>
                </svg> 6 yeards of experience in preparing students for UPE</li>
                <li class="ul__li--teacher"><svg>
                    <use></use>
                </svg> Own result of passing VNO - 197 points 2 years in a row</li>
                <li class="ul__li--teacher"><svg>
                    <use></use>
                </svg> Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
                <li class="ul__li--teacher"><div class="li_div--teacher"></div></li>
            </ul>
            <ul class="div__ul--teach">
                <li class="ul__li--teach">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</li>
                <li class="ul__li--teach">In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.</li>
                <li class="ul__li--teach">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</li>
                <li class="ul__li--teach"><a href="" class="li__link--teach">Cambrige English Entry Level Certificate</a></li>
            </ul>
            
        </div>
     </section>