 .footer{
 padding-top: 24px;
 }
 
 .footer__contact {
     display: flex;
     column-gap: 8px;
     margin-left: auto;
     margin-right: auto;
     width: 197px;
 }

 .footer__phone {
     width: 197px;
     height: 20px;
     font-weight: 600;
     font-size: 14px;

 }

 .tel_number{
   width: 169px;
   height: 17px;
 }
.footer {
    padding-top: 24px;


    @media screen and (min-width:768px) {
        width: 768px;
        height: 153px;
        display: flex;
        align-items: center;
    }

    @media screen and (min-width:1024px) {
        display: flex;
        width: 1680px;
        height: 165px;
        align-items: center;
    }
}


.footer__contact {
    display: flex;
    column-gap: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 197px;
}

.footer__phone {
    width: 197px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;

}

.tel_number {
    width: 169px;
    height: 17px;
    font-size: 14px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    column-gap: 8px;
 }

 .footer__logo{
}

.footer__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
    margin-bottom: 22px;
}

.logo_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    column-gap: 290px;
}

.instagram_img {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.footer__copyright {
    width: 320px;
    height: 68px;
    background-color: #111518;
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #b9b9b9;
    padding: 20px 68px 20px 68px;

    @media screen and (min-width:768px) {
        width: 768px;
        height: 68px;
    }

    @media screen and (min-width:1024px) {
        height: 67px;
        width: 1680px;
        
    }
}
