.footer {
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.footer__contact {
  display: flex;
  column-gap: 8px;
  width: 197px;
}

.footer__phone {
  width: 197px;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
}

.tel_number {
  width: 169px;
  height: 17px;
}
.footer {
  padding-top: 24px;

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 153px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 1680px;
    height: 165px;
    align-items: center;
  }
}

.footer__phone {
  width: 197px;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
}

.tel_number {
  width: 169px;
  height: 17px;
  font-size: 14px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer__logo {
  display: block;
  width: 80px;
  margin-bottom: 22px;
}

.logo_img {
  display: block;
}

.instagram_img {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
}

.footer__copyright {
  width: auto;
  height: 68px;
  background-color: #111518;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #b9b9b9;
  padding: 20px 68px 20px 68px;

  @media screen and (min-width: 768px) {
    width: auto;
    height: 68px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    height: 67px;
  }
}

@media screen and (max-width: 767px) {
  .footer__binder {
    margin-left: 145px;
  }

  .footer__logo {
    margin-left: 40px;
  }
  .instagram_img {
    margin-left: 55px;
  }
}

@media screen and (min-width: 768px) {
  .footer__binder {
    display: flex;
    justify-content: space-around;
  }
  .footer__contact-binder {
    display: flex;
  }
  .instagram_img{
    margin-top: -10px;
  }
}
