:root {
  --font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: #1f373d;
  background-image: url("../images/headerbg-phone1x-min.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-attachment: scroll; 
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background-image: url("../images/headerbg-phone2x-min.png");
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/headerbg-tablet1x-min.png");
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("../images/headerbg-img1x-min.png");
    background-size: auto; 
    max-width: 1422px;   
    margin: 0 auto; 
    background-position: center 130px;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
       (min-width: 1200px) and (min-resolution: 192dpi) {
  body {
    background-image: url("../images/headerbg-img2x-min.png");
    background-size: auto;
    max-width: 1422px;
    margin: 0 auto;
    background-position: center 130px;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

.header-link {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-header { width: 708px; }
}

@media (min-width: 1200px) {
  .container-header { width: 1422px; }
}

.header__image-wrapper {
  position: relative;
  z-index: 2001;
  margin-right: 239px;
}

.logo--default {
  max-width: 150px;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1;
}

.logo--white {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 3000;
  max-width: 150px;
  height: auto;
  display: block;
}

#toggle:checked ~ .header__image-wrapper .logo--white {
   opacity: 1;
   }
#toggle:checked ~ .header__image-wrapper .logo--default {
   opacity: 0; 
  }

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__link {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  font-family: var(--font-family);
}

@media (min-width: 1200px) {
  .nav__link { color: #b9b9b9; }
}

.nav__link-active {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ff6b09;
}

@media (min-width: 1200px) {
  .nav__link,
  .nav__link-active {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
}

.header__contact-link {
  margin-left: 10px;
  margin-top: 50px;
  border: 2px solid #ff6b09;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #ff6b09;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .header__contact-link {
     margin-top: 0; 
    }
}

@media (min-width: 1200px) {
  .header__contact-link {
    width: 335px;
    height: 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }
}

.header__contact-link--tablet {
  display: none;
  position: relative;
  z-index: 1;
}

input[type="checkbox"] {
   display: none; 
  }

label {
  display: none;
  width: 21px;
  height: 12px;
  position: fixed;
  right: 30px;
  cursor: pointer;
  z-index: 1100;
}

label span,
label span::before,
label span::after {
  content: '';
  display: block;
  width: 21px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0;
  transition: 0.3s;
  border-radius: 2px;
}

label span::before { 
  top: -5px; 
}
label span::after {
   top: 5px;
   }

#toggle:checked + label span,
#toggle:checked + label span::before,
#toggle:checked + label span::after { 
  background: #fff; 
}


@media (min-width: 768px) and (max-width: 1199px) {
  label { 
    display: block;
    margin-top: 19px;
    position: absolute;
   }

  .nav__list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 159px 218px;
    background: rgba(17, 21, 24, 0.9);
    z-index: 1000;
    overflow-y: auto;
    align-items: flex-start;
    gap: 15px;
  }

  #toggle:checked + label + .header__image-wrapper + nav .nav__list {
     display: flex; 
    }

  #toggle:checked + label span { 
    transform: rotate(-45deg);
   }
  #toggle:checked + label span::before {
     top: 0;
     transform: rotate(0);
     }
  #toggle:checked + label span::after {
     top: 0;
     transform: rotate(90deg);
     }
}

@media (max-width: 767px) {
  label { 
    display: block;
    margin-top: 9px;
    position: absolute;
   }

  .nav__list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 20px;
    background: rgba(17, 21, 24, 0.9);
    z-index: 1000;
    overflow-y: auto;
    align-items: flex-start;
    gap: 10px;
  }

  #toggle:checked + label + .header__image-wrapper + nav .nav__list {
     display: flex; 
    }

  #toggle:checked + label span {
     transform: rotate(-45deg);
     }
  #toggle:checked + label span::before {
     top: 0;
     transform: rotate(0);
     }
  #toggle:checked + label span::after {
     top: 0;
     transform: rotate(90deg); 
    }
}

@media (max-width: 767px) {
  .logo--white img,
  .logo--default {
    width: 80px;
    height: 30px;
    object-fit: contain;
  }

  .header__image-wrapper .logo--white {
     left: 0; 
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .header__contact-link--tablet {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.14em;
text-transform: uppercase;
text-align: center;
color: #ff6b09;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2002;
  }

  .nav__list .header__contact-link {
    display: none;
  }
}
