.hero__image-wrapper img {
  display: inline; 
  max-width: none;
  height: auto; 
  padding-left: 35px;
}
.hero__title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 8px;
  width: 100%;
  max-width: 280px;
  @media screen and (min-width: 768px) { 
    width: 100%;
    max-width: 320px;
      font-size: 26px;
      width: 320px;
      margin-bottom: 15px;
        }
        @media screen and (min-width: 1200px) { 
     
          font-size: 58px;
          width: 530px;
            }
  }
  
  .hero__subtitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.08em;
      color: #b9b9b9;
      margin-bottom: 0px;
      @media screen and (min-width: 768px) { 
        max-width: 320px;
            }
            @media screen and (min-width: 1200px) { 
      font-weight: 500;
      font-size: 20px;
      line-height: 165%;
  
  
                }
  }
  
  .hero__highlight {
      font-weight: 700;
      color: #111518;
      margin-bottom: 0px;
      @media screen and (min-width: 768px) { 
        max-width: 280px;
            }
            @media screen and (min-width: 1200px) { 
  
  
                }
  }
  
  .hero__numbers {
      font-weight: 700;
      color: #ff6b09;
      display: block;
      @media screen and (min-width: 768px) { 
        max-width: 180px;
               
            }
            @media screen and (min-width: 1200px) {
              display: inline;
              color: black;
                }
  }
  .hero__button {
    margin-left: 10px;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      border: none;
     margin-bottom: 54px;
      width: 260px;
      height: 48px;
      background-color: #FF6B09;
      margin-top: 50px;
      @media screen and (min-width: 768px) { 
          margin-top: 45px;
          margin-left: 2px;
            }
            @media screen and (min-width: 1200px) { 
              margin-top: 45px;
              width: 354px;
              height: 70px;
             margin-bottom: 0px;
             font-size: 14px;
             letter-spacing: 0.14em;
  
                }
  }
.hero__image {
  margin-bottom: 70px;
  padding-left: 36px;

  @media screen and (min-width: 768px) { 

      }
      @media screen and (min-width: 1200px) { 


          }         
}


@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px; 
  }

  .hero__content {
    flex: 1;
  }

  .hero__image-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

}

@media screen and (min-width: 1200px) {
  .hero__image {
    width: 842px;
    height: auto;
  }
}

.hero__features {
  padding-top: 70px;

  @media screen and (min-width: 768px) { 
    padding-top: 139px;
      }
      @media screen and (min-width: 1200px) { 
        padding-top: 372px;
          }
}

.hero__feature {
    @media screen and (min-width: 768px) { 
    padding-top: 139px;
      }
      @media screen and (min-width: 1200px) { 
        padding-top: 372px;
          }
}

.hero__icon {
  width: 60px;
  height: 60px;
fill: #FF6B09;

 @media screen and (min-width: 768px) { 
  
    }
    @media screen and (min-width: 1200px) { 
      width: 100px;
      height: 100px;
        }
}

.hero__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) { 
    gap: 21px;
  }
  @media screen and (min-width: 1200px) { 
    gap: 128px;
      }
}

.hero__feature {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (min-width: 768px) { 
    gap: 13px;
  }
  @media screen and (min-width: 1200px) { 

      }
}

.hero__icon {
  margin-left: 33px;
}
.hero__features-wrapper {
  display: flex;
  justify-content: center;
}

.hero__feature-text1 {
  width: 100%;
  max-width: 140px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0;
  @media screen and (min-width: 768px) { 
    max-width: 146px;
  }
  @media screen and (min-width: 1200px) { 
    max-width: 238px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.08em;
    color: #111518;
      }
}
.hero__feature-text2 {
  width: 100%;
  max-width: 140px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0;
  @media screen and (min-width: 768px) { 
    max-width: 120px;
  }
  @media screen and (min-width: 1200px) { 
    max-width: 238px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 165%;
letter-spacing: 0.08em;
color: #111518;
      }
}
.hero__feature-text3 {
  width: 100%;
  max-width: 140px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0;
  @media screen and (min-width: 768px) { 
    max-width: 139px;
  }
  @media screen and (min-width: 1200px) { 
    max-width: 260px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 165%;
letter-spacing: 0.08em;
color: #111518;
      }
}

.hero__feature-text1,
.hero__feature-text2,
.hero__feature-text3 {
@media screen and (min-width: 1200px) {
      position: relative;
      left: -35px;
  }
}
.hero__container {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 708px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1422px;
    margin: 0 auto;
  }
}