.problems {
    position: relative;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 70px;
    margin-top: 70px;


    @media screen and (min-width:768px) {
        padding-top: 55px;
        padding-right: 40px;
        padding-left: 40px;
    }

}

.problemsbg {
    height: 545px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media screen and (min-width:768px) {
        width: 768px;
        height: 340px;
    }

    @media screen and (min-width:1200px) {
        width: 2680px;
        height: 560px;
        padding: 100px 692px 280px 183px;
    }
}

.problems__title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 25px;

    @media screen and (min-width:768px) {
        margin-bottom: 30px;
        width: 450px;
    }

    @media screen and (min-width:1200px) {
       
       width: 805px;
       height: 180px;
       font-size: 36px;
        padding-bottom: 68px;
    }
}

.problems__title-highlight {
    color: #ff6b09;
}

.problems__list {
    padding: 20px 27px;
    background-color: white;


    @media screen and (min-width:768px) {
        padding: 28px 90px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 68px;
        row-gap: 20px;
    }

    @media screen and (min-width:1200px) {
       width: 1314px;
       padding: 67px 113px;
        column-gap: 40px;
        row-gap: 30px;
    }
}

.problems__item {

    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 68px) / 2);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 80px) / 3);
        font-size: 20px;
    }
}

.problems__item+.problems__item {
    margin-top: 15px;
}


.problems__number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-bottom: 5px;
}

.problems__dash {
    font-size: 20px;
}

.problems__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.08em;
    color: #111518;
}